<h1>LHDs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lhds.each do |lhd| %>
      <tr>
        <td><%= lhd.name %></td>
        <td><%= link_to 'Show', lhd %> - 
        <%= link_to 'Edit', edit_lhd_path(lhd) %> - 
        <%= link_to 'Destroy', lhd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lhd', new_lhd_path %>
